body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}
nav a {
    text-align: right;
}

header {
    background-color: pink;
    padding: 2px;
    text-align: left;
}
div nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    gap: 15px;
}
div nav ul li{
    display: inline;
}
div nav ul li a {
    color: #020202;
    font-size: large;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
div nav ul li a:hover {
    background-color: #f53daf;
    color: #fff;
}
div nav ul li a:active {
    background-color: #fd0a7b;
}
.container {
    text-align: right;
    direction: ltr;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #fa84d3;
    padding: 20px;
    margin: 20px;
    border-radius: 0%;
    border-style: double;
    background-image: url(imagesmm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.text {
    font-size: 25px;
    text-rendering: auto;
    flex: 1;
}
.text p {
    font-weight: 600;
}
.products {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.product-card {
    background-position: 0%;
    border: 2.5px solid #070707;
    white-space: 10;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-right: 20px;
    width: 250px;
    margin: 20px;
    border-radius: 26px;
}
.product-card img {
    width: 175px;
}
.product-card p {
    font-style: initial;
    font-weight: bold;
}
.add-to-cart {
    background-color: #fa84d3;
    color: #0c0c0c;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    margin: 4px 2px;
    text-align: center;
}
.add-to-cart:hover {
    background-color: #f342be;
    color: #fff;
    transform: scale(1.05);
}
.add-to-cart:active {
    background-color: #fd0fb6;
    transform: scale(0.95);
}
.star-rating {
    display: flex;
    gap: 10px;
}
.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.star:hover, .star:hover ~ .star {
    color: #ffcc00;
}
.star.selected {
    color: #ffcc00;
}
#our-story h2 {
    padding: 20px;
    text-align: center;
}
#our-story p {
    font-size: large;
    text-align: center;
    font-weight: 300;
}
footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
}